@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/roboto-v20-latin_cyrillic-regular.eot');
	src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'), url('../fonts/roboto-v20-latin_cyrillic-regular.ttf') format('truetype'), url('../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto') format('svg');
}

* {
	margin: 0;
	padding: 0;
	font-family: Roboto;
	font-size: 16px;
	box-sizing: border-box;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #fc557c;
  	text-decoration: underline;
}

button {
	outline: none;
	border: none;
}

.header {
	background-color: #fbfbfb;
}

.header__container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 29px;
}

.header__menu {
	padding-top: 15px;
}

.header__menu ul {
	list-style-type: none;
}

.header__menu ul li {
	display: inline;
	padding-left: 25px;
}

.header__menu ul li:first-child {
	padding-left: 0;
}

.header__phone {
	font-size: 25px;
	line-height: 43px;
	font-weight: 700;
	color: #1f1f24;
	margin-left: auto;
	margin-right: 35px;
}

.header__call {
	width: 207px;
	height: 45px;
	border: 1px solid #f82370;
	background-color: transparent;
	color: #f53f4f;
	cursor: pointer;
}

.general-info__about {
	padding-top: 9.5%;
	padding-left: 19.5%;
}

.general-info__heading, .name-info__heading {
	font-size: 80px;
	font-weight: 900;
	color: #1f1f24;
	margin: 0;
}

.general-info__desc, .name__desc {
	font-size: 25px;
	font-weight: 400;
	color: #8993ad;
	margin: 0;
	padding-top: 15px;
}

.general-info__el {
	font-size: 48px;
	font-weight: bold;
	background: -webkit-linear-gradient(13.0deg, #ff8f5a 26%, #ff2f96 73%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	position: absolute;
	transition: transform 2s;
}

.general-info__el_el1 {
	left: 7%;
	top: 23%;
	transform: rotate(30deg);
}

.general-info__el_el2 {
	font-size: 29px;
	left: 41%;
	top: 28%;
	transform: rotate(-15deg);
}

.general-info__el_el3 {
	left: 13%;
	top: 61%;
	transform: rotate(15deg);
}

.general-info__el_el4 {
	left: 19.3%;
	top: 111%;
	transform: rotate(-25deg);
}

.general-info__el_el5 {
	left: 49%;
	top: 89%;
	transform: rotate(25deg);
}

.general-info {
	width: 100%;
	height: 665px;
	background: #fbfbfb url('../img/background.png') 100% 100% no-repeat;
}

.name-info {
	display: none;
}

.services {
	max-width: 1170px;
	margin: 0 auto;
}

.services__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.services__heading, .works__heading {
	font-size: 54px;
	margin: 85px 0;
	text-align: center;
}

.services__items {
	width: 100%;
	display: flex;
	justify-content: space-between;
	color: #8993ad;
}

.services__item {
	text-align: center;
}

.services__text {
	font-size: 20px;
	margin-top: 24px;
}

.general-info__learn-more {
	font-size: 18px;
	color: #fff;
	background-color: #ff4e2e;
	width: 270px;
	height: 60px;
	cursor: pointer;
	border: none;
	margin-top: 45px;
}

.services__learn-more {
	font-size: 18px;
	color: #fff;
	background-color: #ff4e2e;
	width: 270px;
	height: 60px;
	cursor: pointer;
	border: none;
	margin: 96px 0 102px 0;
}

.works {
	max-width: 1170px;
	margin: 0 auto;
}

.works__container {
	display: flex;
	flex-direction: column;
}

.works__container .works__heading, .works__learn-more {
	align-self: center;
	margin: 96px 0 102px 0;
}

.works__slider {
	position: relative;
	display: flex;
	flex-direction: column;
}

.works__slider-item {
	display: flex;
	flex-direction: column;
	text-align: center;
	color: #8993ad;
	font-size: 1.25rem;
}

.slider-item img {
	margin-bottom: 40px;
}

.works__learn-more {
	font-size: 18px;
	color: #fff;
	background-color: #ff4e2e;
	width: 270px;
	height: 60px;
	cursor: pointer;
	border: none;
	margin: 130px 0 102px 0;
}

.works__slider .slick-arrow {
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
	width: 60px;
	height: 60px;
	background: transparent url('../img/arrow.png') no-repeat;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	position: absolute;
	top: 33%;
	z-index: 10;
	font-size: 0;
}

.works__slider .slick-arrow.slick-prev {
	left: -30px;
}

.works__slider .slick-arrow.slick-next {
	right: -30px;
	transform: rotate(180deg);
}

.price {
	width: 100%;
	height: 364px;
	background: linear-gradient(13.0deg, #ff8f5a 26%, #ff2f96 73%);
	color: #fff;
	position: relative;
}

.price__container {
	max-width: 1000px;
	margin: 0px auto;
	padding-top: 80px;
}

.price__container h3 {
	font-size: 48px;
}

.price__container p {
	font-size: 20px;
	margin-top: 30px;
}

.price__el {
	font-size: 48px;
	font-weight: bold;
	position: absolute;
	transition: transform 2s;
}

.price__el_el1 {
	left: 7%;
	top: 15%;
	transform: rotate(30deg);
}

.price__el_el2 {
	left: 13.5%;
	top: 69%;
	transform: rotate(15deg);
}

.price__el_el3 {
	left: 86%;
	top: 17%;
	transform: rotate(-20deg);
}

.price__el_el4 {
	left: 92%;
	top: 70%;
	transform: rotate(-20deg);
}

.price__el_el5 {
	left: 73%;
	top: 80%;
	transform: rotate(25deg);
}

/*footer*/

.footer {
	padding-top: 80px;
}

.footer__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1170px;
	margin: 0 auto;
}

.footer__menu ul {
	list-style-type: none;
}

.footer__menu li {
	margin-bottom: 15px;
}

.footer__menu a {
	color: #8993ad;
}

.footer__contact a {
	font-size: 25px;
}

.footer__link {
	text-decoration: none;
	color: inherit;
}

.footer__phone {
	margin-bottom: 30px;
}

.footer__call {
	width: 250px;
	height: 45px;
	border: 1px solid #f82370;
	background-color: transparent;
	color: #f53f4f;
	cursor: pointer;
	display: block;
	margin-bottom: 30px;
}

.footer__icon {
	margin-right: 15px;
	background: -webkit-linear-gradient(13.0deg, #ff8f5a 26%, #ff2f96 73%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.footer__social-link {
	display: block;
	float: left;
	margin-right: 30px;
}

.footer__social-link_vk {
	width: 35px;
	height: 21px;
	background: url('../img/social_sprites.png') -10px -10px no-repeat;
}

.footer__social-link_fb {
	width: 16px;
	height: 28px;
	background: url('../img/social_sprites.png') -110px -10px no-repeat;
}

.footer__social-link_tw {
	width: 29px;
	height: 25px;
	background: url('../img/social_sprites.png') -10px -51px no-repeat;
}

.footer__social-link_inst {
	width: 25px;
	height: 25px;
	background: url('../img/social_sprites.png') -65px -10px no-repeat;
}

.footer__copy {
	background-color: #31293c;
	padding: 30px 0;
	margin-top: 80px;
	text-align: center;
	color: #fff;
	width: 100%;
}